*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    max-width: 100%;
}

.content{
    background: #002f58;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    transition: all 0.5s;
}

    /* microphone parts */
    .microphone-container{
        width: 250px;
        height: 250px;
        background: #FFCD33;
        border-radius: 250px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        cursor: pointer;
        transition: .2s;
        z-index:  3;
    }
        .microphone-container:hover, .microphone-container:hover > .microphone-support::after{
            background: #fff;
        }

        .microphone-container:hover > .microphone-voice, .microphone-container:hover > .microphone-base{
            background: #FFCD33;
        }

        .microphone-container:hover > .microphone-support{
            border-color: #FFCD33;
        }

        /* active */
        .microphone-container.-active{
            background: #fff;
        }

        .microphone-container.-active > .microphone-support::after{
            background: #fff;
        }

        .microphone-container.-active > .microphone-voice, .microphone-container.-active > .microphone-base{
            background: #FFCD33;
        }

        .microphone-container.-active > .microphone-support{
            border-color: #FFCD33;
        }

        .microphone-voice{
            width: 58px;
            height: 130px;
            border-radius: 100px;
            background: #ffffff;
            position: absolute;
            z-index: 10;
            top: 23px;
            box-shadow: 0 0 20px -5px #222;
        }

        .microphone-support{
            width: 120px;
            height: 190px;
            border: 19px solid #ffffff;
            border-radius: 100px;
            position: relative;
            z-index: 3;
            top: -44px;
            box-shadow: 0 0 20px -13px #222;
        }
            .microphone-support::after{
                content: '';
                width: 188px;
                height: 160px;
                position: absolute;
                top: -21px;
                left: -25px;
                background: #FFCD33;
                display: block;
                transition: .2s;
            }

        .microphone-base{
            width: 19px;
            height: 40px;
            background: #ffffff;
            position: absolute;
            z-index: 2;
            bottom: 25px;
            right: 114px;
            box-shadow: 0 0 20px -5px #222;
        }

    /* microfone volume */
    .microphone-volume{
        position: absolute;
        width: 250px;
        min-width: 250px;
        height: 250px;
        min-height: 250px;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 1;
        transition: width 1s height 1s background-color 1s linear;
        -webkit-transition: width 1s height 1s background-color 1s linear;
        -moz-transition: width 1s height 1s background-color 1s linear;
    }

        .microphone-volume.animated{
            animation: volume 3.5s infinite linear;
            width: 300px;
            height: 300px;
        }

    @keyframes volume {
        0%{
            width: 270px;
            height: 270px;
        }
        20%{
            width: 300px;
            height: 300px;
        }
        40%{
            width: 280px;
            height: 280px;
        }
        60%{
            width: 320px;
            height: 320px;
        }
        80%{
            width: 280px;
            height: 280px;
        }
        100%{
            width: 270px;
            height: 270px;
        }
    }
